@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


html {
  height: 100%;
  width: 100%;
}

body {
  background: url("images/panel.jpg");
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

#title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  border-bottom: solid black 2px;
}

#background-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

#container-game {
  margin-left: 300px;
  width: 700px;
  height: 600px;
  position: absolute;
  top: 0;
}

.memory-card {
  width: 100px;
  height: 130px;
  position: relative;
  transform: scale(1);
  margin: auto;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.turn {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  padding-top: 10px;
}

.front-face {
  transform: rotateY(180deg);
}

#gameOver {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center; 
}

#imgGameOver {
  width: 300px;
}

 .timer {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  background-color: #A81E23;
  margin-top: 10px;
}

/*_______________________________________________________media screem*/

@media only screen and (max-width: 500px) {
  #background-image {
    width: 100%;
    height: 100%;
  }

  #container-game {
    width: 80%;
    margin: auto;
    left: 30px;
    top: 60px;
  }

  .memory-card {
    width: 60px;
    height: 110px;
  }

  .front-face,
  .back-face {
    padding-top: 20px;
  }
}




@media only screen and (min-device-width: 768px) and (max-device-width : 768px){
  #background-image {
    width: 100%;
    height: 100%;
  }

  #container-game {
    width: 80%;
    margin: auto;
    left: 50px;
    top: 70px;
  }

  .memory-card {
    width: 100px;
    height: 150px;
   
  }

  .front-face,
  .back-face {
    padding-top: 30px;
  }
  }

  @media only screen and (min-device-width: 1024px)  and (max-device-width : 1024px){
  #background-image {
    width: 100%;
    height: 100%;
  }

  #container-game {
    width: 80%;
    margin: auto;
    left: 80px;
    top: 100px;
  }

  .memory-card {
    width: 110px;
    height: 150px;
   
  }

  .front-face,
  .back-face {
    padding-top: 30px;
  }
  }



@media only screen and (min-device-width: 280px)  and (max-device-width : 280px){
  #background-image {
    width: 100%;
    height: 100%;
  }

  #container-game {
    width: 80%;
    margin: auto;
    left: 30px;
    top: 100px;
  }

  .memory-card {
    width: 40px;
    height: 80px;
   
  }

  .front-face,
  .back-face {
    padding-top: 30px;
  }
  }

